p {
    font-family: Lato;
  }
  
  .pet-card {
    max-width: 328px;
    margin: 4px;
    height: 230px;
    width: 240px;
    cursor: pointer;
  }
  
  .pet-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .container{
    display: flex;
    justify-content: space-between;
  }
  .photo{
    width: 147px;
    height: 115px;
  }